.stats-main-pic{
	margin-top: 30px;
}

hr.dash-style {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
    width: 100%;
}

/* TABLE BANNER*/

.stats-table-banner{
	width: 100%;
	text-align: center;
	padding: 10px;
	margin: 10px 0px;
}

.stats-table-banner h3 {
	display: inline-block;
}

.stats-table-banner h3:first-child{
	float: left;
	font-weight: normal;
}

.stats-table-banner h3:nth-child(2){
	font-size: 1.6em;
	width: 200px;
	height: 40px;
}

.stats-table-banner h3:last-child{
	float: right;
	font-weight: normal;
}

/* STATS TABLE */

.stats-table thead{
	background-color: #87cefa;
	color: #fff;
	font-weight: bold;
}

.stats-table, .stats-table th{
	border: 1px solid black;
}

.stats-table{
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	margin-top: 10px;
}

.stats-table th, .stats-table td, .stats-table caption{
	padding: 15px;
}

.stats-table tbody tr:hover{
	background-color: #e6e6e6;
}


/*MEDIA QUERY FOR TABLE OPTIMISATION*/


@media screen and (max-width:1160px){
	aside{
		display: none;
	}
	main article{
		width: 90%;
	}
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 16px;
		left: 16px;
		width: 25%; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "APPS"; }
	td:nth-of-type(2):before { content: "ASSISTS"; }
	td:nth-of-type(3):before { content: "GOALS"; }
	td:nth-of-type(4):before { content: ""; }
	td:nth-of-type(5):before { content: "APPS"; }
	td:nth-of-type(6):before { content: "ASSISTS"; }
	td:nth-of-type(7):before { content: "GOALS"; }

	/* Reduce dropdown nav length */

	div.nav-headline-link:nth-child(5){
		display: none;
	}

	div.nav-headline-link:nth-child(6){
		display: none;
	}
}